/* Font Settings */
:root {
	font-family: "Inter", sans-serif;
	font-feature-settings: "liga" 1, "calt" 1;
}

@supports(font-variation-settings: normal) {
	:root {
		font-family: "InterVariable", sans-serif;
	}
}

/* Global CSS settings */

body {
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(20,205,42,1) 0%, rgba(119,172,0,1) 100%);
	font-size: x-large;
	text-align: center;
}